/* CSS Document */
/* Design & CSS by Marie-Claude Doyon http://www.marieclaudedoyon.com */

@import url(../default/display.css);

html {
     background: url(bg-body.gif) repeat-y top center #d8e2d7;
}

body {
     color: #193441;
}

a {
     color: #C15D42;
}

#wrap {
      background: url(bg-header.gif) repeat-x #FCFFF5;
}

#header h1.pagetitle {
	color: #d8e2d7;
}

#header h2.sitename {
	color: #FCFFF5;
}

#nav li a {
     color: #91AA9D;
}

#nav_views li a {
     color: #FCFFF5;
     background-color: #91AA9D;
     border-right: 1px solid #6A8787;
}

#nav_views li.current a, #nav_views li.current a:hover {
     color: #3F606F;
     background-color: #FCFFF5;
     border-right: 1px solid #6A8787;
}

#nav_views li.current a:hover {
     color: #193441;
}

#nav_views li a:hover {
     color: #FCFFF5;
     background-color: #3F606F;
     border-right: 1px solid #6A8787;
     }

#nav_sub {
     border-top: 1px solid #D8E2D7;
     }

.instructions p, .success, .error {
     border: 1px solid #91AA9D;
     color: #FCFFF5;
     }
.instructions a:hover, .success a:hover, .error a:hover {
     color: #FCFFF5;
     }

#notices {
     border-top: 1px solid #D8E2D7;
     }

.notice_single {
     border-bottom: 1px solid #D8E2D7;
}

.notice_single:hover {
     background-color: #F3F8EA;
     }

input#submit_yes, input#submit_no {
     color: #FCFFF5;
     background-color: #C15D42;
     }

input#submit_yes:hover, input#submit_no:hover {
     background-color: #904632;
     }

p.time a {
    color: #91AA9D;
    }

#profile {
    border-top: 1px solid #D8E2D7;
    }

#profile h2 {
    color: #91AA9D;
    }

#nav_pagination li {
    background-color: #91AA9D;
    }

#nav_pagination li a {
    background-color: #91AA9D;
    color: #FCFFF5;
    }

#nav_pagination li a:hover {
    color: #FCFFF5;
    }

#footer {
    border-top: 1px solid #D8E2D7;
    }

form input {
     border: 1px solid #D8E2D7;
     }

input#submit, input.submit  {
    color: #FCFFF5;
    background-color: #C15D42;
    }

input#submit:hover, input.submit:hover {
    background-color: #904632;
    }

textarea, input {
    color: #193441;
    }

textarea:focus, input:focus {
    background-color: #f0f6eb;
    }

.input_instructions {
    color: #91aa9d;
    }

#status_label {
    color: #91AA9D;
    }

#status_textarea {
    color: #193441;
}

#status_submit {
    background-color: #C15D42;
    color: #FCFFF5;
    }

#status_submit:hover {
    background-color: #904632;
    }

#content .subscribe .submit, #content .unsubscribe .submit, #remotesubscribe .button, #remotesubscribe {
    background-color: #c15d42;
    color: #fcfff5;
    }

#profiles {
    border-top: 1px solid #D8E2D7;
    }

.profile_single {
    border-bottom: 1px solid #D8E2D7;
    }

.profile_single:hover {
    background-color: #F3F8EA;
    }

#messages {
    border-top: 1px solid #D8E2D7;
    }

.message_single {
    border-bottom: 1px solid #D8E2D7;
    }

.message_single:hover {
    background-color: #F3F8EA;
    }
