/* IE specific styles */

.notice-options input.submit {
color:#fff;
}

#site_nav_local_views a {
background-color:#ddffcc;
}

#aside_primary {
width:181px;
}

#form_notice,
#anon_notice {
top:158px;
}

#public #content,
#groups #content,
#publictagcloud #content,
#featured #content,
#favorited #content,
#all #content,
#replies #content,
#showstream #content,
#showfavorites #content,
#inbox #content,
#outbox #content,
#subscriptions #content,
#subscribers #content {
padding-top:138px;
}
