avatar/*
background/*
files/*
file/*
local/*
_darcs/*
logs/*
config.php
.htaccess
httpd.conf
*.tmproj
dataobject.ini
*~
*.bak
*.orig
*.rej
.#*
*.swp
.buildpath
.project
.settings
TODO.rym
config-*.php
good-config.php
lac08.log
php.log
.DS_Store
nbproject
*.mo
