<?php
/* -*- mode: php -*- */

if (!defined('STATUSNET')) { exit(1); }

// If you have downloaded libraries in random little places, you
// can add the paths here

// $extra_path = array("/opt/php-openid-2.0.1", "/usr/local/share/php");
// set_include_path(implode(PATH_SEPARATOR, $extra_path) . PATH_SEPARATOR . get_include_path());

// We get called by common.php, $config is a tree with lots of config
// options
// These are for configuring your URLs

$config['site']['name'] = 'Just another StatusNet microblog';
$config['site']['server'] = 'localhost';
$config['site']['path'] = 'statusnet';
// $config['site']['fancy'] = false;
// $config['site']['theme'] = 'default';
// Sets the site's default design values
// $config['design']['backgroundcolor'] = '#F0F2F5';
// $config['design']['contentcolor'] = '#FFFFFF';
// $config['design']['sidebarcolor'] = '#CEE1E9';
// $config['design']['textcolor'] = '#000000';
// $config['design']['linkcolor'] = '#002E6E';
// $config['design']['backgroundimage'] = null;
// $config['design']['disposition'] = 1;
// To enable the built-in mobile style sheet, defaults to false.
// $config['site']['mobile'] = true;
// For contact email, defaults to $_SERVER["SERVER_ADMIN"]
// $config['site']['email'] = 'admin@example.net';
// Brought by...
// $config['site']['broughtby'] = 'Individual or Company';
// $config['site']['broughtbyurl'] = 'http://example.net/';
// If you don't want to let users register (say, for a one-person install)
// Crude but effective -- register everybody, then lock down
// $config['site']['closed'] = true;
// Only allow registration for people invited by another user
// $config['site']['inviteonly'] = true;
// Make the site invisible to  non-logged-in users
// $config['site']['private'] = true;

// If your web server supports X-Sendfile (Apache with mod_xsendfile,
// lighttpd, nginx), you can enable X-Sendfile support for better
// performance. Presently, only attachment serving when the site is
// in private mode will use X-Sendfile.
// $config['site']['use_x_sendfile'] = false;
// You may also need to enable X-Sendfile support for your web server and
// allow it to access files outside of the web root. For Apache with
// mod_xsendfile, you can add these to your .htaccess or server config:
//
//       XSendFile on
//       XSendFileAllowAbove on
//
// See http://tn123.ath.cx/mod_xsendfile/ for mod_xsendfile.

// If you want logging sent to a file instead of syslog
// $config['site']['logfile'] = '/tmp/statusnet.log';

// Change the syslog facility that StatusNet logs to (default is LOG_USER)
// $config['syslog']['facility'] = LOG_LOCAL7;

// Enables extra log information, for example full details of PEAR DB errors
// $config['site']['logdebug'] = true;

// To set your own logo, overriding the one in the theme
// $config['site']['logo'] = '/mylogo.png';

// This is a PEAR DB DSN, see http://pear.php.net/manual/en/package.database.db.intro-dsn.php
// Set it to match your actual database

$config['db']['database'] = 'mysql://statusnet:microblog@localhost/statusnet';
// $config['db']['ini_your_db_name'] = $config['db']['schema_location'].'/statusnet.ini';
// *** WARNING *** WARNING *** WARNING *** WARNING ***
// Setting debug to a non-zero value will expose your DATABASE PASSWORD to Web users.
// !!!!!! DO NOT SET THIS ON PRODUCTION SERVERS !!!!!! DB_DataObject's bug, btw, not
// ours.
// *** WARNING *** WARNING *** WARNING *** WARNING ***
// $config['db']['debug'] = 0;
// $config['db']['db_driver'] = 'MDB2';

// Database type. For mysql, these defaults are fine. For postgresql, set
// 'quote_identifiers' to true and 'type' to 'pgsql':
// $config['db']['quote_identifiers'] = false;
// $config['db']['type'] = 'mysql';

// session_set_cookie_params(0, '/'. $config['site']['path'] .'/');

// Standard fancy-url clashes prevented by not allowing nicknames on a blacklist
// Add your own here. Note: empty array by default
// $config['nickname']['blacklist'][] = 'scobleizer';

// sphinx search
$config['sphinx']['enabled'] = false;
$config['sphinx']['server'] = 'localhost';
$config['sphinx']['port'] = 3312;

// Users to populate the 'Featured' tab
// $config['nickname']['featured'][] = 'scobleizer';

// xmpp
// $config['xmpp']['enabled'] = false;
// $config['xmpp']['server'] = 'server.example.net';
// $config['xmpp']['host'] = NULL;	// Only set if different from server
// $config['xmpp']['port'] = 5222;
// $config['xmpp']['user'] = 'update';
// $config['xmpp']['encryption'] = false;
// $config['xmpp']['resource'] = 'uniquename';
// $config['xmpp']['password'] = 'blahblahblah';
// $config['xmpp']['public'][] = 'someindexer@example.net';
// $config['xmpp']['debug'] = false;

// Turn off invites
// $config['invite']['enabled'] = false;

// Default locale info
// $config['site']['timezone'] = 'Pacific/Auckland';
// $config['site']['language'] = 'en_NZ';

// When validating user supplied email addresses, validate if the domain
// is running an SMTP server.
// $config['mail']['check_domain'] = true;

// Email info, used for all outbound email
// $config['mail']['notifyfrom'] = 'microblog@example.net';
// Domain for generating no-reply and incoming email addresses, if enabled.
// Defaults to site server name.
// $config['mail']['domain'] = 'microblog.example.net';
// See http://pear.php.net/manual/en/package.mail.mail.factory.php for options
// $config['mail']['backend'] = 'smtp';
// $config['mail']['params'] = array(
// 							'host' => 'localhost',
// 							'port' => 25,
// 							);

// exponential decay factor for tags, default 10 days
// raise this if traffic is slow, lower it if it's fast
// $config['tag']['dropoff'] = 86400.0 * 10;

// exponential decay factor for popular (most favorited notices)
// default 10 days -- similar to tag dropoff
// $config['popular']['dropoff'] = 86400.0 * 10;

// optionally show non-local messages in public timeline
// $config['public']['localonly'] = false;

// hide certain users from public pages, by ID
// $config['public']['blacklist'][] = 123;
// $config['public']['blacklist'][] = 2307;

// Mark certain notice sources as automatic and thus not
// appropriate for public feed
// $config['public]['autosource'][] = 'twitterfeed';
// $config['public]['autosource'][] = 'rssdent';
// $config['public]['autosource'][] = 'Ping.Fm';
// $config['public]['autosource'][] = 'HelloTxt';
// $config['public]['autosource'][] = 'Updating.Me';

// Do notice broadcasts offline
// If you use this, you must run the six offline daemons in the
// background. See the README for details.
// $config['queue']['enabled'] = true;

// Queue subsystem
// subsystems: internal (default) or stomp
// using stomp requires an external message queue server
// $config['queue']['subsystem'] = 'stomp';
// $config['queue']['stomp_server'] = 'tcp://localhost:61613';
// use different queue_basename for each statusnet instance managed by the server
// $config['queue']['queue_basename'] = '/queue/statusnet/';

// The following customise the behaviour of the various daemons:
// $config['daemon']['piddir'] = '/var/run';
// $config['daemon']['user'] = false;
// $config['daemon']['group'] = false;

// For installations with high traffic, statusnet can use MemCached to cache
// frequently requested information. Only enable the following if you have
// MemCached up and running:
// $config['memcached']['enabled'] = false;
// $config['memcached']['server'] = 'localhost';
// $config['memcached']['port'] = 11211;

// Disable post-by-email
// $config['emailpost']['enabled'] = false;

// Disable SMS
// $config['sms']['enabled'] = false;

// Twitter integration source attribute. Note: default is StatusNet
// $config['integration']['source'] = 'StatusNet';

// Enable bidirectional Twitter bridge
//
// NOTE: if you enable this you must also set $config['avatar']['path']
//
// $config['twitterimport']['enabled'] = true;

// Twitter OAuth settings. Documentation is at http://apiwiki.twitter.com/OAuth-FAQ
// $config['twitter']['consumer_key']    = 'YOURKEY';
// $config['twitter']['consumer_secret'] = 'YOURSECRET';

// Edit throttling. Off by default. If turned on, you can only post 20 notices
// every 10 minutes. Admins may want to play with the settings to minimize inconvenience for
// real users without getting uncontrollable floods from spammers or runaway bots.

// $config['throttle']['enabled'] = true;
// $config['throttle']['count'] = 100;
// $config['throttle']['timespan'] = 3600;

// Config section for the built-in Facebook application
// $config['facebook']['apikey'] = 'APIKEY';
// $config['facebook']['secret'] = 'SECRET';

// Add Google Analytics
// require_once('plugins/GoogleAnalyticsPlugin.php');
// $ga = new GoogleAnalyticsPlugin('your secret code');

// Use Templating (template: /tpl/index.php)
// require_once('plugins/TemplatePlugin.php');
// $tpl = new TemplatePlugin();

// Don't allow saying the same thing more than once per hour
// $config['site']['dupelimit'] = 3600;
// Don't enforce the dupe limit
// $config['site']['dupelimit'] = -1;

// Base string for minting Tag URIs in Atom feeds. Defaults to
// "yourserver,2009". This needs to be configured properly for your Atom
// feeds to validate.  See: http://www.faqs.org/rfcs/rfc4151.html and
// http://taguri.org/ Examples:
// $config['integration']['taguri'] = 'example.net,2008';
// $config['integration']['taguri'] = 'admin@example.net,2009-03-09'

// Don't use SSL
// $config['site']['ssl'] = 'never';
// Use SSL only for sensitive pages (like login, password change)
// $config['site']['ssl'] = 'sometimes';
// Use SSL for all pages
// $config['site']['ssl'] = 'always';

// Use a different hostname for SSL-encrypted pages
// $config['site']['sslserver'] = 'secure.example.org';

// Indent HTML and XML
// Enable (default) for easier to read markup for developers,
// disable to save some bandwidth.
// $config['site']['indent'] = true;

// If you have a lot of status networks on the same server, you can
// store the site data in a database and switch as follows
// Status_network::setupDB('localhost', 'statusnet', 'statuspass', 'statusnet');
// if (!Status_network::setupSite($_server, $_path)) {
//        print "Error\n";
//        exit(1);
// }

// How often to send snapshots; in # of web hits. Ideally,
// try to do this once per month (that is, make this equal to number
// of hits per month)
// $config['snapshot']['frequency'] = 10000;
// If you don't want to report statistics to the central server, uncomment.
// $config['snapshot']['run'] = 'never';
// If you want to report statistics in a cron job instead.
// $config['snapshot']['run'] = 'cron';

// Support for file uploads (attachments),
// select supported mimetypes and quotas (in bytes)
// $config['attachments']['supported'] = array('image/png', 'application/ogg');
// $config['attachments']['supported'] = true; //allow all file types to be uploaded

// $config['attachments']['file_quota'] = 5000000;
// $config['attachments']['user_quota'] = 50000000;
// $config['attachments']['monthly_quota'] = 15000000;
// $config['attachments']['uploads'] = true;
// $config['attachments']['path'] = "/file/"; //ignored if site is private
// $config['attachments']['dir'] = INSTALLDIR . '/file/';

// $config['oohembed']['endpoint'] = 'http://oohembed.com/oohembed/';
