RewriteEngine On

RewriteRule ^$ index.php?action=public [L,QSA]
RewriteRule ^rss$ index.php?action=publicrss [L,QSA]
RewriteRule ^xrds$ index.php?action=publicxrds [L,QSA]

RewriteRule ^doc/about$ index.php?action=doc&title=about [L,QSA]
RewriteRule ^doc/help$ index.php?action=doc&title=help [L,QSA]
RewriteRule ^doc/privacy$ index.php?action=doc&title=privacy [L,QSA]
RewriteRule ^doc/source$ index.php?action=doc&title=source [L,QSA]

RewriteRule ^main/login$ index.php?action=login [L,QSA]
RewriteRule ^main/logout$ index.php?action=logout [L,QSA]
RewriteRule ^main/register$ index.php?action=register [L,QSA]
RewriteRule ^main/openid$ index.php?action=openidlogin [L,QSA]

RewriteRule ^main/subscribe$ index.php?action=subscribe [L,QSA]
RewriteRule ^main/unsubscribe$ index.php?action=unsubscribe [L,QSA]
RewriteRule ^main/confirmaddress$ index.php?action=confirmaddress [L,QSA]
RewriteRule ^main/confirmaddress/(.*)$ index.php?action=confirmaddress&code=$1 [L,QSA]
RewriteRule ^main/recoverpassword$ index.php?action=recoverpassword [L,QSA]
RewriteRule ^main/recoverpassword/(.*)$ index.php?action=recoverpassword&code=$1 [L,QSA]

RewriteRule ^settings/avatar$ index.php?action=avatar [L,QSA]
RewriteRule ^settings/password$ index.php?action=password [L,QSA]
RewriteRule ^settings/profile$ index.php?action=profilesettings [L,QSA]
RewriteRule ^settings/openid$ index.php?action=openidsettings [L,QSA]
RewriteRule ^settings/im$ index.php?action=imsettings [L,QSA]

RewriteRule ^notice/new$ index.php?action=newnotice [L,QSA]
RewriteRule ^notice/(\d+)$ index.php?action=shownotice&notice=$1 [L,QSA]

RewriteRule ^user/(\d+)$ index.php?action=userbyid&id=$1 [L,QSA]

RewriteRule ^(\w+)/subscriptions$ index.php?action=subscriptions&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/subscribers$ index.php?action=subscribers&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/xrds$ index.php?action=xrds&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/rss$ index.php?action=userrss&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/all$ index.php?action=all&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/all/rss$ index.php?action=allrss&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/foaf$ index.php?action=foaf&nickname=$1 [L,QSA]

RewriteRule ^(\w+)$ index.php?action=showstream&nickname=$1 [L,QSA]
