RewriteEngine On

RewriteRule ^$ index.php?action=public [L,QSA]
RewriteRule ^rss$ index.php?action=publicrss [L,QSA]
RewriteRule ^xrds$ index.php?action=publicxrds [L,QSA]

RewriteRule ^doc/about$ index.php?action=doc&title=about [L,QSA]
RewriteRule ^doc/contact$ index.php?action=doc&title=contact [L,QSA]
RewriteRule ^doc/faq$ index.php?action=doc&title=faq [L,QSA]
RewriteRule ^doc/help$ index.php?action=doc&title=help [L,QSA]
RewriteRule ^doc/im$ index.php?action=doc&title=im [L,QSA]
RewriteRule ^doc/openid$ index.php?action=doc&title=openid [L,QSA]
RewriteRule ^doc/openmublog$ index.php?action=doc&title=openmublog [L,QSA]
RewriteRule ^doc/privacy$ index.php?action=doc&title=privacy [L,QSA]
RewriteRule ^doc/source$ index.php?action=doc&title=source [L,QSA]

RewriteRule ^main/login$ index.php?action=login [L,QSA]
RewriteRule ^main/logout$ index.php?action=logout [L,QSA]
RewriteRule ^main/register$ index.php?action=register [L,QSA]
RewriteRule ^main/openid$ index.php?action=openidlogin [L,QSA]
RewriteRule ^main/remote$ index.php?action=remotesubscribe [L,QSA]

RewriteRule ^main/subscribe$ index.php?action=subscribe [L,QSA]
RewriteRule ^main/unsubscribe$ index.php?action=unsubscribe [L,QSA]
RewriteRule ^main/confirmaddress$ index.php?action=confirmaddress [L,QSA]
RewriteRule ^main/confirmaddress/(.*)$ index.php?action=confirmaddress&code=$1 [L,QSA]
RewriteRule ^main/recoverpassword$ index.php?action=recoverpassword [L,QSA]
RewriteRule ^main/recoverpassword/(.*)$ index.php?action=recoverpassword&code=$1 [L,QSA]

RewriteRule ^settings/avatar$ index.php?action=avatar [L,QSA]
RewriteRule ^settings/password$ index.php?action=password [L,QSA]
RewriteRule ^settings/profile$ index.php?action=profilesettings [L,QSA]
RewriteRule ^settings/openid$ index.php?action=openidsettings [L,QSA]
RewriteRule ^settings/im$ index.php?action=imsettings [L,QSA]
RewriteRule ^settings/email$ index.php?action=emailsettings [L,QSA]
RewriteRule ^settings/sms$ index.php?action=smssettings [L,QSA]

RewriteRule ^search/people$ index.php?action=peoplesearch [L,QSA]
RewriteRule ^search/notice$ index.php?action=noticesearch [L,QSA]
RewriteRule ^search/notice/rss$ index.php?action=noticesearchrss [L,QSA]

RewriteRule ^notice/new$ index.php?action=newnotice [L,QSA]
RewriteRule ^notice/(\d+)$ index.php?action=shownotice&notice=$1 [L,QSA]
RewriteRule ^deletenotice/((\d+))?$ index.php?action=deletenotice&notice=$2 [L,QSA]

RewriteRule ^user/(\d+)$ index.php?action=userbyid&id=$1 [L,QSA]

RewriteRule ^tags/?$ index.php?action=tag [L,QSA]
RewriteRule ^tag(/(.*))?$ index.php?action=tag&tag=$2 [L,QSA]

RewriteRule ^(\w+)/subscriptions$ index.php?action=subscriptions&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/subscribers$ index.php?action=subscribers&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/xrds$ index.php?action=xrds&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/rss$ index.php?action=userrss&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/all$ index.php?action=all&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/all/rss$ index.php?action=allrss&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/foaf$ index.php?action=foaf&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/replies$ index.php?action=replies&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/replies/rss$ index.php?action=repliesrss&nickname=$1 [L,QSA]
RewriteRule ^(\w+)/avatar/(original|96|48|24)$ index.php?action=avatarbynickname&nickname=$1&size=$2 [L,QSA]

RewriteRule ^(\w+)$ index.php?action=showstream&nickname=$1 [L,QSA]

# Twitter-compatible API rewrites
# XXX: Surely these can be refactored a little -- Zach
RewriteRule ^api/statuses/public_timeline(.*)$ index.php?action=api&apiaction=statuses&method=public_timeline$1 [L,QSA]
RewriteRule ^api/statuses/friends_timeline(.*)$ index.php?action=api&apiaction=statuses&method=friends_timeline$1 [L,QSA]
RewriteRule ^api/statuses/user_timeline/(.*)$ index.php?action=api&apiaction=statuses&method=user_timeline&argument=$1 [L,QSA]
RewriteRule ^api/statuses/user_timeline(.*)$ index.php?action=api&apiaction=statuses&method=user_timeline$1 [L,QSA]
RewriteRule ^api/statuses/show/(.*)$ index.php?action=api&apiaction=statuses&method=show&argument=$1 [L,QSA]
RewriteRule ^api/statuses/update(.*)$ index.php?action=api&apiaction=statuses&method=update$1 [L,QSA]
RewriteRule ^api/statuses/replies(.*)$ index.php?action=api&apiaction=statuses&method=replies&argument=$1 [L,QSA]
RewriteRule ^api/statuses/destroy/(.*)$ index.php?action=api&apiaction=statuses&method=destroy&argument=$1 [L,QSA]
RewriteRule ^api/statuses/friends/(.*)$ index.php?action=api&apiaction=statuses&method=friends&argument=$1 [L,QSA]
RewriteRule ^api/statuses/friends(.*)$ index.php?action=api&apiaction=statuses&method=friends$1 [L,QSA]
RewriteRule ^api/statuses/followers/(.*)$ index.php?action=api&apiaction=statuses&method=followers&argument=$1 [L,QSA]
RewriteRule ^api/statuses/followers(.*)$ index.php?action=api&apiaction=statuses&method=followers$1 [L,QSA]
RewriteRule ^api/statuses/featured(.*)$ index.php?action=api&apiaction=statuses&method=featured$1 [L,QSA]
RewriteRule ^api/direct_messages/sent(.*)$ index.php?action=api&apiaction=direct_messages&method=sent$1 [L,QSA]
RewriteRule ^api/direct_messages/destroy/(.*)$ index.php?action=api&apiaction=direct_messages&method=destroy&argument=$1 [L,QSA]
RewriteRule ^api/direct_messages/new(.*)$ index.php?action=api&apiaction=direct_messages&method=create$1 [L,QSA]
RewriteRule ^api/direct_messages(.*)$ index.php?action=api&apiaction=direct_messages&method=direct_messages$1 [L,QSA]
RewriteRule ^api/friendships/create/(.*)$ index.php?action=api&apiaction=friendships&method=create&argument=$1 [L,QSA]
RewriteRule ^api/friendships/destroy/(.*)$ index.php?action=api&apiaction=friendships&method=destroy&argument=$1 [L,QSA]
RewriteRule ^api/friendships/exists(.*)$ index.php?action=api&apiaction=friendships&method=exists$1 [L,QSA]
RewriteRule ^api/account/verify_credentials(.*)$ index.php?action=api&apiaction=account&method=verify_credentials$1 [L,QSA]
RewriteRule ^api/account/end_session$ index.php?action=api&apiaction=account&method=end_session$1 [L,QSA]
RewriteRule ^api/account/update_location(.*)$ index.php?action=api&apiaction=account&method=update_location$1 [L,QSA]
RewriteRule ^api/account/update_delivery_device(.*)$ index.php?action=api&apiaction=account&method=update_delivery_device$1 [L,QSA]
RewriteRule ^api/account/rate_limit_status(.*)$ index.php?action=api&apiaction=account&method=rate_limit_status$1 [L,QSA]
RewriteRule ^api/favorites/create/(.*)$ index.php?action=api&apiaction=favorites&method=create&argument=$1 [L,QSA]
RewriteRule ^api/favorites/destroy/(.*)$ index.php?action=api&apiaction=favorites&method=destroy&argument=$1 [L,QSA]
RewriteRule ^api/favorites(.*)$ index.php?action=api&apiaction=favorites&method=favorites$1 [L,QSA]
RewriteRule ^api/notifications/follow/(.*)$ index.php?action=api&apiaction=notifications&method=follow&argument=$1 [L,QSA]
RewriteRule ^api/notifications/leave/(.*)$ index.php?action=api&apiaction=notifications&method=leave&argument=$1 [L,QSA]
RewriteRule ^api/blocks/create/(.*)$ index.php?action=api&apiaction=blocks&method=create&argument=$1 [L,QSA]
RewriteRule ^api/blocks/destroy/(.*)$ index.php?action=api&apiaction=blocks&method=destroy&argument=$1 [L,QSA]
RewriteRule ^api/help/(.*)$ index.php?action=api&apiaction=help&method=$1 [L,QSA]

<FilesMatch "\.(ini)">
  Order allow,deny
</FilesMatch>

