/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.09.12 
   PURPOSE: Styles the html elements
 **************************************************************/

/* Forces horizontal scrollbar on in Mozilla */
html {
  margin-bottom: 1px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;

  font: 400 0.8em georgia, serif;
  line-height: 180%;

  background: url(body.jpg) repeat top left;
  color: #6D6864;
}

h1, h2, h3, h4, h5, h6, p, dl {
  margin: 0;
  padding: 10px 0;
}

h1 {   
  clear: both;
  font: 400 1.9em georgia, serif;
  color: #532406;  
}

h2 {
  clear: both;
  font: 400 1.3em georgia, serif;
  color: #61804E;
}

h3 {
  font: 700 1.1em georgia, serif;
  color: #8F512A;
}

h4 {
  font: 400 0.9em georgia, serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #5E9040;  
  border-bottom: 1px solid #B8E78B;
}


a:visited {
  background-color: #F1FFE3;
}

a:hover {
  color: #3C5D29;
  background-color: #F1FFE3;
  border-bottom: 1px solid #4A6E35;
}


ol {  
  margin: 10px 30px;
  padding: 0 30px;

  font-size: 1.4em;
  color: #532406;
  background-color: #FFF;
}

ol span {
  font-size: 0.7em;
  color: #6D6864;
}

ul {
  margin: 10px 30px;
  padding: 0 30px 0 5px;
  list-style: none;
}

ul li {
  padding-left: 25px;
  background: url(bullet.gif) no-repeat;
  background-position: 0 3px;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #DDD;
}

blockquote {
  margin: 10px 0;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

blockquote p {
  margin: 0.4em 0.8em;
}

del {
  color: #AAA;
}

code {
  margin: 15px 0;
  padding: 10px;
  display: block;
  overflow: auto;
  
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  
  background: #F4F4F4;
  border-bottom: 1px solid #D3D3D3;
}



/**************************************************************
   Tables
 **************************************************************/

table {
  width: 100%;
  margin-bottom: 10px;  
  
  font-size: 1em;
  border-collapse: collapse;
}

table caption {
  margin-top: 10px;
  padding: 0 0 0.5em 3px;

  font: 400 0.8em georgia, sans-serif;
  text-align: left;  
}

table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 4px 7px !important;
  padding: 6px 10px;
}


thead th {
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

tbody tr.dark {
  background-color: #F5F5F5;
}

tbody td {
  border-bottom: 1px solid #DDD;
}

tbody tr:hover {
  background-color: #FBFEDF;
}

/**************************************************************
   Form Elements
 **************************************************************/

label {
  float: left;
  text-align: right;
  width: 9em;
  padding-right: 1em;
  
}


input,
textarea,
select {
  padding: 4px;
  font: 400 1em georgia, sans-serif;
  
  color: #666;
  background: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #888 #DDD #DDD #888;  
}


input:focus,
textarea:focus,
select:focus {  
  padding: 3px;
  color: #000;
  background: #F1FFE3;
  border-width: 2px;
}

input.button {
  padding: 1px 10px;

  font: 400 1em georgia, sans-serif;
  cursor: pointer;

  color: #fff;
  background: #508231;
  border-width: 1px;
  border-style: solid;
  border-color: #B8E78B #2D5018 #2D5018 #B8E78B;
}

.required {
  cursor: help;
  border-bottom: 1px solid #CCC;
}



/**************************************************************
   Images
 **************************************************************/

img.floatRight {
  margin: 5px 0px 10px 15px;  
}

img.floatLeft {
  margin: 5px 15px 10px 0px;
}

a img {  
  border: 4px solid #D5C9C2;
}

a:hover img {  
  border: 4px solid #BAAAA1;
}

/**************************************************************
   #wrapper & #content: wrapper positions and sets the width
   on the content.  The background is then applied to #content.
 **************************************************************/

#wrapper {
  width: 589px;
  height: 100%;
  margin: 0 auto;

  text-align: left;
}

#content {
  float: left;
  width: 589px;
  height: 100%;
  min-height: 100%;

  background: url(content.gif) repeat-y top center;
}

#content[id] {
  height: auto;
  background: url(content.png) repeat-y top center;
}

/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  padding: 60px 0 2em 49px;
  background: url(header.jpg) no-repeat top center;
}

/* Forces IE to set the hasLayout flag and show the header at the height of its contents \*/
* html #header {
  height: 1%;
}
/* End hide from IE-mac */

#header h1,
#header h2 {
  margin: 0;
  padding: 0;
  background: none;
}

#header h1 {
  font-size: 3.5em;
  font-family: georgia;
  letter-spacing: -3px;
  color: #6E310B;
}

/**************************************************************
   #menu: The top level site menu
 **************************************************************/

ul#menu {
  width: 491px;
  margin: 0 auto;
  padding: 0 !important;
  padding: 0 0 0 10px;
}

ul#menu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#menu li a {
  float: left;
  padding: 15px 0 5px 0;

  font: 400 1.54em georgia, serif;
  text-align: center;
  text-decoration: none;

  color: #61804E;
  border-bottom: 1px solid #D3F1B6;
}

ul#menu li a:visited {
  background-color: #FFF;
}

ul#menu li a:hover {
  color: #2E5F0F;
  background: url(menu.gif) repeat-x bottom left;
}

ul#menu li a.here {
  color: #512103;
  background: url(menu.gif) repeat-x bottom left;
}

/* helper classes to control width of links in topbar */
ul.two li a {
  width: 50%;
}

ul.three li a {
  width: 33%;
}

ul.four li a {
  width: 25%;
}

ul.five li a {
  width: 20%;
}

/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  clear: both;
  width: 491px !important;
  width: 100%;

  padding: 2em 49px;
}

/**************************************************************
   .footer: Site footer
 **************************************************************/

.footer {
  padding-top: 3em;
  font-size: 0.85em;
  clear: both;
}

/**************************************************************
   .bigLinks: Large, clickable links
 **************************************************************/

ul.bigLinks {
  margin: 10px 0;
  padding: 0;
  list-style: none;

}

ul.bigLinks li {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
}

ul.bigLinks li a,
ul.bigLinks li a:visited {
  display: block;

  margin: 10px 0;
  padding: 3px;

  text-decoration: none;
  background-color: #FFF;
  border: 0;
}

ul.bigLinks li a:hover {
  padding-bottom: 2px;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

ul.bigLinks li a span.title {
  color: #5E9040;
  border-bottom: 1px solid #B8E78B;
}

ul.bigLinks li a:hover span.title {
  color: #3C5D29;
  border-bottom: 1px solid #4A6E35;
}

ul.bigLinks li a span.desc {
  display: block;
  color: #6D6864;
}

ul.bigLinks li a:hover span.desc {
  color: #555;
}

/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width100 {
  width: 100%;
}

.width75 {
  width: 73%;
}

.width66 {
  width: 64%;
}

.width50 {
  width: 48%;
}

.width33 {
  width: 31%;
}

.width25 {
  width: 23%;
}

/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.big {
  font-size: 1.3em;
}

.small {
  font-size: 0.85em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: #AAA;
}

.green {
  color: #82C048;
}

.darkBrown {
  color: #512103;
}

.greenBg {
  padding: 0 10px;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

.highlight {
  padding: 1px 2px;
  background: #D9F5EC;
  border-top: 1px solid #BDEDDE;
}

ul.menuish li {
  display: inline;
  list-style: none;
}
