/* CSS Document */
/* Design & CSS by Marie-Claude Doyon http://www.marieclaudedoyon.com */

html {
	background-color: #f6e5b0;
	}
body {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	min-height: 100%;
	height: 100%;
    color: #701238;
	}
a {
	color: #d1451a;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
img, img a {
	border: 0;
	}
h1 {
	font-size: 14px;
	}


#wrap {
	margin: 0 auto;
	padding: 0 20px;
	width: 760px;
	background: url(bg-header.gif) repeat-x #fbf2d7;
	}
#header {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 216px;
	}
#logo {
	margin-top: 9px;
	}
p#branding {
	margin: 0;
	padding: 6px 0 3px 0;
	color: #fbf2d7;
	font-size: 21px;
	font-weight: bold;
	line-height: 27px;
	}
p#branding a {
	color: #dab134;
	}

#header h1.pagetitle {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 24px;
	color: #fff6d5;
}

#header h2.sitename {
	display: none;
	margin: 0;
	padding: 0;
	color: #fff6d5;
}

/* ===== Begin Navigation Styling ===== */

/* ----- Navigation ------ */
#nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	}
#nav li {
	display: block;
	float: left;
	}
#nav li a {
	display: block;
	padding: 9px 9px 12px 9px;
	color: #F60;
	}
#nav li a:hover {
	text-decoration: underline;
	}

/* ----- Tabs ----- */
#nav_views {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	bottom: 0;
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
	width: 600px;
	/*height: 30px;*/
	}
#nav_views li {
	display: block;
	float: left;
	line-height: 21px;
	}
#nav_views li a {
	display: block;
	margin: 0;
	padding: 4px 12px 3px 12px;
	color: #fff6d5;
	background-color: #d1451a;
	border-right: 1px solid #dcaa3f;
	}
#nav_views li a:hover {
	text-decoration: none;
	}
#nav_views li.current a, #nav_views li.current a:hover {
	color: #701238;
	background-color: #fff6d5;
	border-right: 1px solid #dcaa3f;
	}
#nav_views li.current a:hover {
	color: #d1451a;
	}
#nav_views li a:hover {
	color: #fff6d5;
	background-color: #701238;
	border-right: 1px solid #dcaa3f;
	}


.feeds {
clear:both;
float:right;
margin-top:1.25em;
position:absolute;
right:0;
bottom:-30px;
}
.feeds * {
line-height:1.4;
padding:0;
margin:0;
font-size:12px;
}

.feeds p {
font-weight:bold;
display:inline;
display:none;
}
.feeds ul {
display:inline;
}
.feeds li {
list-style-type:none;
display:inline;
margin-left:0.5em;
}
.feeds li a.rss,
.feeds li a.atom {
background:url(icon_feed.jpg) no-repeat;
padding-top:2px;
padding-left:20px;
}
.feeds li a.foaf {
background:url(icon_foaf.gif) no-repeat;
padding-top:2px;
padding-left:30px;
}


form#disfavor, form.disfavor,
form#favor, form.favor  {
	float: right;
}

/*favorites*/
input#favor, input.favor,
input#disfavor, input.disfavor  {
	background-color:#fcfff5;
	background-color:transparent;
	background-image:url(icon_heart-02.gif);
	background-repeat:no-repeat;
	cursor: pointer;
	border: 0;
	width: 16px;
	height:16px;
	text-indent:-9999px;
}

input#disfavor, input.disfavor {
	background-image:url(icon_heart-01.gif);
}

.notice_single:hover input.favor,
.notice_single:hover input.disfavor {
	background-color:#f3f8ea;
}


/*profile_actions*/
#profile_actions {
padding-left:0;
list-style-type:none;
margin:0;
}
#profile_actions li {
margin-bottom:0.5em;
clear:both;
}

#profile_actions #profile_nudge input.submit {
margin:0;
padding:0;
padding-left:17px;
background:transparent url(icon_emote-wink.png) 0 1px no-repeat;
color:#C15D42;
font-family:Georgia,"Times New Roman",Times,serif;
font-weight:normal;
font-size:14px;
text-align:left;
float:left;
line-height:18px;
}
#profile_actions #profile_nudge input.submit:hover {
background-color:transparent;
color:#C15D42;
}

#wrap #content input.processing {
padding-left:17px;
background:transparent url(icon_process-working.gif) 0 1px no-repeat;
line-height:18px;
}

#wrap p#nudge_response {
padding-left:20px;
background:transparent url(icon_checkmark.gif) 0 1px no-repeat;
line-height:18px;
font-size:14px;
}


#wrap form input.disabled,
#wrap form input.disabled:hover {
background-color:#999;
cursor:default;
}

/* ----- Nav Footer ----- */
#nav_sub {
	clear: both;
	margin: 18px auto 0 auto;
	padding: 0;
	list-style-type: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 21px;
	border-top: 1px solid #dec5b5;
	width: 600px;
	}
#nav_sub li {
	display: block;
	float: left;
	}
#nav_sub li a {
	padding: 6px 24px 6px 0;
	}
#nav_sub li a:hover {
	text-decoration: underline;
	}
/* ===== End Navigation Styling ===== */

#content {
	clear: left;
	margin: 40px 0 45px 0;
	padding: 0 80px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 18px;
	}
#content h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	}
#content label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
.instructions p, .success, .error {
	font-weight: normal;
	margin: 36px 0 0 0;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 15px;
	border: 1px solid #dec5b5;
	color: #fff6d5;
	}
.instructions a, .success a, .error a {
	color: #d8e2d7;
	text-decoration: underline;
	}
.instructions a:hover, .success a:hover, .error a:hover {
	color: #fff6d5;
	}		
.success {
	background-color: #48705b;
	}
.error {
	background-color: #ce3728;
	}


/* ----- Stream -----*/

#notices {
	clear: both;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 600px;
	border-top: 1px solid #dec5b5;
	}
#notices a:hover {
	text-decoration: underline;
	}
.notice_single {
	clear: both;
	display: block;
	margin: 0;
	padding: 5px 5px 5px 0;
	min-height: 48px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #dec5b5;
	background-color:#FCFFF5;
	opacity:1;
	}
.notice_single:hover {
	background-color: #f7ebcc;
	}
.notice_single p {
	display: inline;
	margin: 0;
	padding: 0;
	}
#notice_delete_form #confirmation_text {
    display: block;
	font-size: 14px;
	font-weight: bold;
	}

input#submit_yes, input#submit_no {
	margin: 18px 10px 0px 0px;
	padding: 4px;
	font-weight: bold;
	color: #fff6d5;
	background-color: #F60;
	cursor: pointer;
	border: 0;
	width: 40px;
	}
input#submit_yes:hover, input#submit_no:hover {
	background-color: #701238;
	}
.avatar.stream {
	float: left;
	margin: 0 10px 0.5em 0;
	}
p.time {
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
	}
p.time a {
	color: #dab134;
	}
	
/* ----- Profile -----*/
#profile {
	clear: left;
	margin: 0 -80px;
	padding: 10px 0 0 0;
	min-height: 170px;
	border-top: 1px solid #dec5b5;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom:1em;
	float:left;
	width:750px;
	}
#profile h1 {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	}
#profile h2 {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #dab134;
	}
#profile p {
	margin: 0 10px 0 0;
	font-size: 12px;
	line-height: 14px;
	}
#profile p.location {
	margin: 0 10px 12px 0;
	font-style: italic;
	}
#profile p.notice_current {
	font-size: 18px;
	line-height: 21px;
	}
#profile_avatar {
	float: left;
	margin-right: 4px;
	}
#profile_avatar img {
	margin-bottom: 5px;
	}
.avatar.profile {
	clear: left;
	margin: 0 10px 5px 0;
	}
.avatar.original {
	float: left;
	margin: 0 10px 18px 0;
	}
a.nickname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-right: 3px;
	}
#profile_information {
	float: left;
	position: relative;
	width: 270px;
	}
.statistics {
	margin-top: 18px;
	}
.statistics h2 {
	margin: 12px 0 3px 0;
	}
dl.statistics {
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	}
.statistics dt {
	float: left;
	width: 96px;
}	
.statistics dd {
	margin-left: 100px;
}
.statistics dt:after {
	content: ":";
	}
#subscriptions {
	float: left;
	margin: 18px 0 30px 0;
	}
#subscriptions_avatars {
	float: left;
	margin: 6px 0 0 0;
	padding: 0;
	list-style-type: none;
	width: 270px;
	}
#subscriptions_avatars li .avatar.mini {
	float: left;
	margin: 0 3px 3px 0;
	padding: 0;
	line-height: 0;
	/* border: 1px solid #f00; */
	}
#subscriptions_viewall {
	clear: left;
	}
/* ----- End Profile -----*/

/* ----- Begin Subscriptions & Subscribers -----*/

ul.subscriptions, ul.subscribers {
	float: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
	clear:both;
	}
ul.subscriptions li, ul.subscribers li {
	display: block;
	float: left;
	padding: 0;
	}
/* ----- End Subscriptions & Subscribers -----*/



#pagination {
	margin: 18px auto;
	width: 600px;
	}
#nav_pagination {
	margin: 0 0 36px 0;
	padding: 0;
	float: right;
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
	}
#nav_pagination li {
	display: block;
	float: left;
	background-color: #701238;
	}
#nav_pagination li.before {
	margin-right: 1px;
	}
#nav_pagination li a {
	padding: 6px 15px;
	line-height: 21px;
	background-color: #701238;
	color: #fff6d5;
	}
#nav_pagination li a:hover {
	background-color: #3F606F;
	color: #fff6d5;
	text-decoration: none;
	}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 0 0 36px 0;
	width: 600px;
	border-top: 1px solid #dec5b5;
	}
#footer p {
	margin-top: 9px;
	line-height: 12px;
	}
#cc {
	float: left;
	margin: 3px 10px 0 0;
	}

/* ===== Begin Forms Styling ===== */

/* ----- Forms General Style ----- */
form {
	margin: 0 auto;
	padding: 0;
	}
form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
form label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	}
form input {
	border: 1px solid #dec5b5;
	width: 264px;
	}
input#submit, input.submit  {
	display: block;
	margin: 18px 0;
	padding: 4px;
	font-weight: bold;
	color: #fff6d5;
	background-color: #F60;
	cursor: pointer;
	border: 0;
	width: auto;
	}
input#submit:hover, input.submit:hover {
	background-color: #701238;
	}
input.checkbox {
	/*width: 14px;
	height: 14px;*/
	width: auto;
	border: 0;
	}	
textarea, input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #701238;
	padding: 3px;
	}
textarea:focus, input:focus {
	background-color: #f8ebc0;
	}
textarea {
	width: 270px;
	border: 1px solid #D8E2D7;
	}
.input_instructions {
	margin-top: 3px;
	display: block;
	font-size: 11px;
	line-height: 15px;
	color: #924959;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

/* ----- Status Form ----- */
#status_form {
	height: 96px;
	/*background-color: #F00;*/
	}
#status_form p {
	margin: 36px 0 0 0;
	padding: 0;
	}
#status_label {
	display: block;
	clear: both;
	margin: 0;
	padding: 0 0 3px 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #dab134;
	}
#status_textarea {
	display: block;
	float: left;
	width: 463px;
	height: 35px;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #701238;
	border: 0;
	}
#status_submit {
	display: block;
	float: left;
	margin: 1px 0 0 4px;
	width: 63px;
	height: 45px;
	background-color: #F60;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #fff6d5;
	cursor: pointer;
	border: 0;
	}
#status_submit:hover {
	background-color: #d1451a;
	}
#counter {
	position: absolute;
	top: 140px;
	left: -64px;
	width: 50px;
	font-weight: bold;
	text-align: right;
}
.response_error textarea,
.response_error .on_max {
background-color:#fee;
}



/* ----- Subscribe Form ----- */
#content .subscribe .submit, #content .unsubscribe .submit, #remotesubscribe .button, #remotesubscribe {
	clear: left;
	margin: 0;
	width: 96px;
	height: 27px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #F60;
	color: #fff6d5;
	border: 0;
	}
#remotesubscribe {
	width: 96px;
	height: 22px;
	padding: 5px 0 0 0;
	text-align: center;
	}
#content .subscribe .button:hover, #content .unsubscribe .button:hover {
	background-color: #904632;
	cursor: pointer;
	}

a#remotesubscribe {
	display: block;
}

/* ----- Login Form -----*/
input#license {
	width: auto;
	border: 0;
	}
/* ----- Avatar Form -----*/
form {
	clear: left;
}

/* ----- OpenID Form -----*/

input#openid_url {
   background: url(login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 4px 50%;
   color: #000;
   padding-left: 24px;
}

/* People lists (search results, maybe subscribers) */

#profiles {
	clear: both;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 600px;
	border-top: 1px solid #dec5b5;
	/*border: 1px solid #F00;*/
	}
#profiles a:hover {
	text-decoration: underline;
	}
	
.profile_single {
	clear: both;
	display: block;
	margin: 0;
	padding: 5px 5px 5px 0;
	min-height: 48px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #dec5b5;
	}
.profile_single:hover {
	background-color: #f7ebcc;
	}

.profile_single form.subscribe {
        float: right;
}

.profile_single form.unsubscribe {
        float: right;
}
	
/* ----- IM Settings Form -----*/

#imsettings p {
	margin: 0;
	padding: 0;
	line-height: 15px;
}




/* ----- direct message ----- */

#message_form {
	height: 96px;
	/*background-color: #F00;*/
	}
	
#message_form p {
	margin: 21px 0 0 0;
	padding: 0;
	}
#message_form label {
	display: inline;
	}
	
#message_content {
	display: block;
	float: left;
	width: 463px;
	height: 35px;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #193441;
	border: 0;
	}
	
#message_send {
	display: block;
	float: left;
	margin: 1px 0 0 4px;
	width: 63px;
	height: 45px;
	background-color: #C15D42;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #FCFFF5;
	cursor: pointer;
	border: 0;
	}
	
#message_send:hover {
	background-color: #904632;
	}


/* ===== End Forms Styling ===== */

/* ===== Tag Cloud Styling ===== */

p.tagcloud {
text-align: center;
}

p.tagcloud a {
line-height:100%;
vertical-align:middle;
}

p.tagcloud a.largest {
font-size: 400%;
}
p.tagcloud a.verylarge {
font-size: 300%;
}

p.tagcloud a.large {
font-size: 200%;
}

p.tagcloud a.medium {
font-size: 150%;
}

p.tagcloud a.small {
font-size: 100%;
}

p.tagcloud a.verysmall {
font-size: 80%;
}

p.tagcloud a.smallest {
font-size: 60%;
}


#subscriptions_nav,
#filter_tags {
margin:0 0 2em 0;
}

#subscriptions_nav {
padding-bottom:0.5em;
/*border-bottom:1px solid #D8E2D7;*/
float:right;
}
#filter_tags {
float:left;
}

#subscriptions_nav dt,
#filter_tags dt {
display:none;
}
#subscriptions_nav dd,
#filter_tags dd {
margin-left:0;
}
#subscriptions_nav ul,
#filter_tags ul {
padding-left:0;
list-style-type:none;
margin-left:0;
}
#subscriptions_nav ul li {
display:inline;
padding-left:0.5em;
margin-left:0.5em;
border-left:1px solid #D8E2D7;;
}
#subscriptions_nav ul li.child_1 {
border-left:0;
padding-left:0;
margin-left:0;
}


#filter_tags ul li {
float:left;
margin-left:0.5em;
padding-left:0.5em;
border-left:1px solid #D8E2D7;;
}
#filter_tags ul li.child_1 {
margin-left:0;
border-left:0;
padding-left:0;
}
#filter_tags ul li li {
margin-left:0;
}
#filter_tags ul li#filter_tags_item {
width:30em;
}
#filter_tags ul li#filter_tags_item form {
clear:none;
}
#filter_tags ul li#filter_tags_item label {
margin-right:0.5em;
font-size:14px;
font-weight:normal;
font-family:Georgia,"Times New Roman",Times,serif;
}
#filter_tags ul li#filter_tags_item label,
#filter_tags ul li#filter_tags_item select {
margin-top:-1px;
margin-bottom:0.5em;
display:inline;
}
#filter_tags ul li#filter_tags_item p {
margin:0 1em 0 0;
padding:0;
float:left;
}
#filter_tags ul li .input_instructions {
display:inline;
display:block;
margin:0;
}
#filter_tags ul li#filter_tags_item .submit {
margin:0;
}




.tags_self,
.tags_user {
margin-left:4.5em;
}
.tags_self dl,
.tags_user dl {
margin-left:0;
}

.tags_self dt,
.tags_user dt {
display:inline;
margin-right:0.5em;
}

.tags_self dd,
.tags_user dd {
margin-left:0;
display:inline;
}


ul.tags {
padding-left:0;
margin-left:0;
list-style-type:none;
display:inline;
}
ul.tags li {
display:inline;
margin-right:0.75em;
}
ul.tags li a {
padding-left:17px;
background:url(icon_tag-01.gif) no-repeat;
line-height:1.5;
}

.tag_user {
text-align:right;
margin-top:0;
margin-bottom:0;
}

form#tag_user {
margin-left:8.75em;
clear:both;
}
form#tag_user p {
margin:0;
}

form#tag_user label {
display:inline;
margin-right:1em;
}
form#tag_user .submit {
margin-left:4em;
}

form#tag_user .input_instructions {
margin-left:4.5em;
}

.profile_list p {
margin:0 0 0.5em 0;
}

.profile_list .bio {
margin-left:4.5em;
}


/* ----- Mailbox ----- */
#messages {
	clear: both;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 600px;
	border-top: 1px solid #dec5b5;
	}

#messages a:hover {
        text-decoration: underline;
	}

.message_single {
	clear: both;
	display: block;
	margin: 0;
	padding: 5px 5px 5px 0;
	min-height: 48px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #dec5b5;
	}
.message_single:hover {
	background-color: #f7ebcc;
	}
.message_single p {
	display: inline;
	margin: 0;
	padding: 0;
	}
