@charset "UTF-8";
/* CSS Document */
input.disfavor,
input.favor {
	text-indent:0;
	text-align:right;
	padding-left:25px;
}

#profile_actions li {
float:left;
clear:both;
}
#profile_actions #profile_nudge input.submit {
margin-left:0;
width:100px;
}

#statistics dd {
	clear: both;
	}		
	
#subscriptions_avatars li {
	float: left;
	}
img.avatar.original, img.avatar.profile {
	clear: none;
	float: left;
}
			
#nav_pagination li a {
	padding: 6px 15px;
	line-height: 27px;
	}

#filter_tags ul li#filter_tags_item label {
position:relative;
top:-8px;
}