@charset "UTF-8";
/* CSS Document */


input.disfavor,
input.favor {
	text-indent:0;
	text-align:right;
	padding-left:25px;
}

#statistics dd {
	clear: both;
	}		
	
	
#subscriptions_avatars li {
	float: left;
	}
img.avatar.original, img.avatar.profile {
	clear: none;
	float: left;
}
			
#nav_pagination li a {
	padding: 6px 15px;
	line-height: 27px;
	}
