@charset "UTF-8";
/* CSS Document */
@import url(../default/ie6.css);
#wrap {
	background: url(bg-header.gif) repeat-x #FCFFF5;
	}


input.disfavor,
input.favor {
	text-indent:0px;
	text-align:right;
	padding-left:25px;
}