/* Temporary copy of base styles for overriding */

input.checkbox,
input.radio {
top:0;
}
.form_notice textarea {
    width: 328px;
}
.form_notice .form_note + label {
position:absolute;
top:25px;
left:83%;
text-indent:-9999px;
height:16px;
width:16px;
display:block;
    left: 390px;
    top: 27px;
}
.form_notice #notice_action-submit {
    width: 106px;
    max-width: 106px;
}
.form_notice #notice_data-attach_selected,
.form_notice #notice_data-geo_selected {
width:78.75%;
}
.form_notice #notice_data-attach_selected button,
.form_notice #notice_data-geo_selected button {
padding:0 4px;
}
.notice-options input.submit {
font-size:0;
text-align:right;
text-indent:0;
}
.notice div.entry-content .timestamp a {
margin-right:4px;
}
.entity_profile {
width:64%;
}
.notice {
z-index:1;
}
.notice:hover {
z-index:9999;
}
.notice .thumbnail img {
z-index:9999;
}

.form_settings fieldset fieldset legend {
line-height:auto;
}

/* IE specific styles */

#site_nav_global_primary ul {
    margin-right: 0px;
}

.notice-options input.submit {
    color:#FFFFFF;
}

.form_notice #notice_data-attach {
    filter: alpha(opacity=0);
}

.form_notice .form_note + label {
    background:transparent url(../../rebase/images/icons/icons-01.gif) no-repeat 0 -328px;
}

.form_notice #notice_data-geo_wrap label {
   background:transparent url(../../rebase/images/icons/icons-01.gif) no-repeat 0 -1780px;
}
.form_notice #notice_data-geo_wrap label.checked {
   background:transparent url(../../rebase/images/icons/icons-01.gif) no-repeat 0 -1846px;
}
