/* IE specific styles */

#aside_primary {
padding-left:11px;
}
.notice-options form input.submit {
font-size:0;
margin-top:3px;
height:16px;
text-align:right;
text-indent:0;
color:#fff;
width:24px;
}

input.checkbox {
top:0;
}

legend {
margin-left:-7px;
}

.notice div.entry-content .timestamp a {
margin-right:4px;
}