/* IE6 specific styles */
address {
margin-left:7px;
}
address .fn {
display:none;
}

#wrap {
width:1003px;
margin:0 auto;
}

#content {
width:66%;
}
#aside_primary {
padding:1.8%;
width:24%;
}
.entity_profile .entity_nickname,
.entity_profile .entity_location,
.entity_profile .entity_url,
.entity_profile .entity_note,
.entity_profile .entity_tags {
margin-left:0;
}
.entity_profile .entity_depiction {
margin-bottom:123px;
}
.entity_actions {
width:20%;
}
.notice div.entry-content {
width:65%;
margin-left:30px;
}
.notice-options a {
width:16px;
}
