/* theme: identica */
html {
	background-color:#ddd;
}
body {
	font-family: sans-serif;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:1em;

}
input, textarea, select, option {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
input:focus, textarea:focus, select:focus {
border-color:#B2D0DD;
}
form span.required { color:#f00; }
form .error {
background-color:#f00;
color:#fff;
}
form .error_message {
color:#EC008C;
}

a {
color:#002E6E;
}



#supplemental_primary {
background-color:#CEE1E9;
}



#form_notice label {
color:#88171A;
}
#notice_text-count {
color:#333;
}
#notice_text-count.warning {
color:#FDFF00;
background-color:#000;
}
#notice_data-text.warning {
border-color:#FDFF00;
}

#form_notice #notice_data-attach_view {
background-image:url(../images/icons/twotone/green/paper-clip.gif);
background-repeat:no-repeat;
background-position:0 45%;
background-color:transparent;
}


#site_nav_local_views a {
border-color:#fff;
}

/*
#site_nav_global_primary .current a {
font-weight:bold;
border-color:#ccc;
border-style:solid;
}
*/

#content,
#site_nav_local_views .current a {
background-color:#fff;
}





#export_data li a {
background-repeat:no-repeat;
background-position:0 45%;
}
#export_data li a.rss {
background-image:url(../../base/images/icons/icon_rss.jpg);
}
#export_data li a.atom {
background-image:url(../../base/images/icons/icon_atom.jpg);
}
#export_data li a.foaf {
background-image:url(../../base/images/icons/icon_foaf.gif);
=}
#export_data li a.export_vcard {
background-image:url(../../base/images/icons/icon_vcard.gif);
}


/*user_actions*/
#user_actions li {
border-top-color:#eee;
}
#user_actions a {
color:#000;
}
#user_subscribe a,
#TB_window input.submit,
.form_user_subscribe input.submit {
background:#CEE1E9 url(../images/icons/twotone/green/shield.gif) 0 45% no-repeat;
}
.form_user_unsubscribe input.submit {
background-color:#647819;
color:#fff;
}
#user_send-a-message a {
background:url(../images/icons/twotone/green/quote.gif) 0 45% no-repeat;
}
.form_user_nudge input.submit {
background:url(../images/icons/twotone/green/mail.gif) 0 45% no-repeat;
}
.form_user_block input.submit {
background:url(../images/icons/twotone/green/against.gif) 0 45% no-repeat;
}


.user_tags .mark_hash {
color:#555;
}



.vcard .fn {
border-bottom-color:#ccc;
}
.vcard .fn:hover {
border-bottom-color:#555;
}




/* NOTICES */
.notice div.entry-content a {
color:#333;
border-bottom-color:#ccc;
}
.notice div.entry-content a:hover {
border-bottom-color:#555;
}


.notice-data a span {
background-color:transparent;
background-repeat:no-repeat;
background-position:0 45%;
}
.notice_video .notice-data a span {
background-image:url(../images/icons/twotone/green/camera.gif);
}
.notice_audio .notice-data a span {
background-image:url(../images/icons/twotone/green/music.gif);
}
.notice_image .notice-data a span {
background-image:url(../images/icons/twotone/green/search.gif);
}
.notice_event .notice-data a span {
background-image:url(../images/icons/twotone/green/calendar.gif);
}
.notice_location .notice-data a span {
background-image:url(../images/icons/twotone/green/flag.gif);
}
.notice_document .notice-data a span {
background-image:url(../images/icons/twotone/green/document.gif);
}

.notice-options .reply a,
.notice-options form input.submit {
background-color:transparent;
color:#333333;
border-bottom-color:#ccc;
}
.notice-options .reply a {
background:transparent url(../images/icons/twotone/green/undo.gif) no-repeat 0 45%;
}
.notice-options form.notice_favorite input.submit {
background:transparent url(../images/icons/twotone/green/favourite.gif) no-repeat 0 45%;
}
.notice-options form.notice_delete input.submit {
background:transparent url(../images/icons/twotone/green/trash.gif) no-repeat 0 45%;
}
/*END: NOTICES */



.pagination .nav_prev a,
.pagination .nav_next a {
background-repeat:no-repeat;
}
.pagination .nav_prev a {
background-image:url(../images/icons/twotone/green/arrow-left.gif);
background-position:0 45%;
}
.pagination .nav_next a {
background-image:url(../images/icons/twotone/green/arrow-right.gif);
background-position:100% 45%;
}



#home #intro #guide_steps li a {
border-color:#ccc;
color:#fff;
}
#home #intro #step_join-now a {
background-color:#f00;
}
#home #intro #step_start-a-group a {
background-color:#0f0;
}
#home #intro #step_create-a-community a {
background-color:#00f;
}




