/* theme: identica */
html,
body,
a:active {
background-color:#ddd;
}
body {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:1em;
}
address {
margin-right:71px;
}
address .fn {
display:none;
}

input, textarea, select, option {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
input, textarea, select {
border-color:#aaa;
}


input.submit,
#form_notice.warning #notice_text-count,
#nav_register a,
.form_settings .form_note {
background-color:#A9BF4F;
}

input:focus, textarea:focus, select:focus,
#form_notice.warning #notice_data-text {
border-color:#A9BF4F;
}
input.submit,
#nav_register a {
color:#fff;
}

a,
div.notice-options input,
.form_user_block input.submit,
.form_user_unblock input.submit,
#entity_send-a-message a,
.form_user_nudge input.submit,
#entity_nudge p {
color:#002E6E;
}

.notice,
.profile {
border-top-color:#D1D9E4;
}
.section .notice,
.section .profile {
border-top-color:#97BFD1;
}


#content .notice p.entry-content a:visited {
background-color:#fcfcfc;
}
#content .notice p.entry-content .vcard a {
background-color:#fcfffc;
}

#aside_primary,
#entity_subscribe a,
#TB_window input.submit {
background-color:#CEE1E9;
}


#notice_text-count {
color:#333;
}
#form_notice.warning #notice_text-count {
color:#000;
}

#form_notice #notice_data-attach_view {
background-image:url(../images/icons/twotone/green/paper-clip.gif);
background-repeat:no-repeat;
background-position:0 45%;
background-color:transparent;
}

#nav_register a {
text-decoration:none;
font-weight:bold;
padding:2px 4px;
}

#content,
#site_nav_local_views a {
border-color:#fff;
}
#content,
#site_nav_local_views .current a {
background-color:#fff;
}

#site_nav_local_views a {
background-color:rgba(255, 255, 255, 0.2);
}
#site_nav_local_views a:hover {
background-color:rgba(255, 255, 255, 0.7);
}




#page_notice .error {
background-color:#F7E8E8;
}
#page_notice .success {
background-color:#EFF3DC;
}


#anon_notice {
background-color:#97BFD1;
color:#fff;
}

#showstream #anon_notice {
background-color:#A9BF4F;
}




#export_data li a {
background-repeat:no-repeat;
background-position:0 45%;
}
#export_data li a.rss {
background-image:url(../../base/images/icons/icon_rss.jpg);
}
#export_data li a.atom {
background-image:url(../../base/images/icons/icon_atom.jpg);
}
#export_data li a.foaf {
background-image:url(../../base/images/icons/icon_foaf.gif);
}
#export_data li a.export_vcard {
background-image:url(../../base/images/icons/icon_vcard.gif);
}


/*user_actions*/
#user_actions li {
/*border-top-color:#eee;*/
}


#entity_send-a-message a,
.form_user_nudge input.submit,
.form_user_block input.submit,
.form_user_unblock input.submit,
#entity_nudge p {
background-position: 0 40%;
background-repeat: no-repeat;
background-color:transparent;
}
.form_group_join input.submit,
.form_group_leave input.submit
.form_user_subscribe input.submit,
.form_user_unsubscribe input.submit {
background-color:#A9BF4F;
color:#fff;
}
.form_user_unsubscribe input.submit,
.form_group_leave input.submit {
background-color:#97BFD1;
}

#entity_send-a-message a {
background-image:url(../images/icons/twotone/green/quote.gif);
}
#entity_nudge p,
.form_user_nudge input.submit {
background-image:url(../images/icons/twotone/green/mail.gif);
}
.form_user_block input.submit,
.form_user_unblock input.submit {
background-image:url(../images/icons/twotone/green/shield.gif);
}



/* NOTICES */
.notices li.over {
background-color:#fcfcfc;
}

.notice-data a span {
background-color:transparent;
background-repeat:no-repeat;
background-position:0 45%;
}
.notice_video .notice-data a span {
background-image:url(../images/icons/twotone/green/camera.gif);
}
.notice_audio .notice-data a span {
background-image:url(../images/icons/twotone/green/music.gif);
}
.notice_image .notice-data a span {
background-image:url(../images/icons/twotone/green/search.gif);
}
.notice_event .notice-data a span {
background-image:url(../images/icons/twotone/green/calendar.gif);
}
.notice_location .notice-data a span {
background-image:url(../images/icons/twotone/green/flag.gif);
}
.notice_document .notice-data a span {
background-image:url(../images/icons/twotone/green/document.gif);
}

.notice-options .notice_reply a,
.notice-options form input.submit {
background-color:transparent;
}
.notice-options .notice_reply a {
background:transparent url(../images/icons/twotone/green/reply.gif) no-repeat 0 45%;
}
.notice-options form.form_favor input.submit {
background:transparent url(../images/icons/twotone/green/favourite.gif) no-repeat 0 45%;
}
.notice-options form.form_disfavor input.submit {
background:transparent url(../images/icons/twotone/green/disfavourite.gif) no-repeat 0 45%;
}
.notice-options .notice_delete a {
background:transparent url(../images/icons/twotone/green/trash.gif) no-repeat 0 45%;
}

.notices div.entry-content,
.notices div.notice-options {
opacity:0.4;
}
.notices li.hover div.entry-content,
.notices li.hover div.notice-options {
opacity:1;
}
div.entry-content {
color:#333;
}
div.notice-options a,
div.notice-options input {
font-family:sans-serif;
}
.notices li.hover {
background-color:#fcfcfc;
}
/*END: NOTICES */



.pagination .nav_prev a,
.pagination .nav_next a {
background-repeat:no-repeat;
}
.pagination .nav_prev a {
background-image:url(../images/icons/twotone/green/arrow-left.gif);
background-position:0 45%;
}
.pagination .nav_next a {
background-image:url(../images/icons/twotone/green/arrow-right.gif);
background-position:100% 45%;
}



#home #intro #guide_steps li a {
border-color:#ccc;
color:#fff;
}
#home #intro #step_join-now a {
background-color:#f00;
}
#home #intro #step_start-a-group a {
background-color:#0f0;
}
#home #intro #step_create-a-community a {
background-color:#00f;
}
