/* IE specific styles */

.notice-options input.submit {
color:#FFFFFF;
}
#site_nav_local_views a {
background-color:#D9DADB;
}
#form_notice .form_note + label {
background:transparent url(../../base/images/icons/twotone/green/clip-01.gif) no-repeat 0 45%;
}
#form_notice #notice_data-attach {
filter: alpha(opacity=0);
}
