@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
}
input {
	height: 24px;
}
#wrap {
	margin: 0 auto;
	padding: 0 20px;
	width: 800px;
	text-align: left;
	background: url(bg-header.gif) repeat-x #fbf2d7;
	}
#header {
	position: relative;
	margin-left: 108px;
	}	
#nav_views {
	margin: 0;
	}
#nav_views li {
	line-height: 19px;
	}
.statistics dd {
	margin-top: -15px;
	clear: both;
	}	
#notices {
	margin: 0;
	}			
.notice_single {
	height: 48px;
	}
#profile {
  margin-left:0px;
}	
#profile p.notice_current {
	height: 96px;
	}	
#filter_tags {
  margin-left:20px;
}	
#content .subscriptions {
  margin-left:30px;
  width:100%;
}

#subscriptions_avatars li {
	float: left;
	margin: 0;
	padding: 0;
	}
img.avatar.original, img.avatar.profile {
	clear: none;
	float: left;
}		
#status_textarea {
	height: 46px;
	}
			
#nav_pagination li a {
	padding: 6px 15px;
	line-height: 27px;
	}
#nav_sub {
	position: relative;
	margin-left: 108px;
	}	
#footer {
	margin-left: 108px;
}
